<a href="https://colab.research.google.com/github/Jhanvis0110/Concept-of-OOPs-in-python/blob/main/WD_10_OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Student:
  def login(self):
    print("Welcome to login section")
  
  def signup(self):
    print("Welcome to signup section")

  def certification(self):
    print("Welcome to certification section")

In [ ]:
class Trainer:
  def login(self):
    print("Welcome to login section")
  
  def signup(self):
    print("Welcome to signup section")

  def revenue(self):
    print("Welcome to revenue section")

In [ ]:
shiva=Student()

In [ ]:
shiva.login()

Welcome to login section

In [ ]:
krishna=Trainer()

In [ ]:
krishna.login()

Welcome to login section

In [ ]:
class log_sign:
  def login(self):
    print("Welcome to login section")
  
  def signup(self):
    print("Welcome to signup section")

In [ ]:
class Student(log_sign):
  def certification(self):
    print("Welcome to certification section")

In [ ]:
class Trainer(log_sign):
  def revenue(self):
    print("Welcome to revenue section")

In [ ]:
krishna=Trainer()

In [ ]:
krishna.signup()

Welcome to signup section

In [ ]:
shiva=Student()

In [ ]:
shiva.login()

Welcome to login section

In [ ]:
krishna=Trainer()

In [ ]:
Trainer(krishna)

TypeError: ignored

In [ ]:
class Dada:
  def home(self):
    print("Dada's home")
class Papa(Dada):
  def laptop(self):
    print("papa's laptop")
class Child(Papa):
  def toy(self):
    print("I have toy")

krishna=Child()

In [ ]:
class Dada:
  def home(self):
    print("Dada's home")
class Papa(Dada):
  def laptop(self):
    print("papa's laptop")
class Child(Dada):
  def toy(self):
    print("I have toy")

krishna=Child()

In [ ]:
krishna.

In [ ]:
class Dada:
  def home(self):
    print("Dada's home")
class Papa():
  def laptop(self):
    print("papa's laptop")
class Mom():
  def cooking(self):
    print("mom's department")
class Child(Dada,Mom,Papa):
  def toy(self):
    print("I have toy")

krishna=Child()

In [ ]:
class Dada:
  def home(self):
    print("Dada's home")
class Papa():
  def laptop(self):
    print("papa's laptop")
class Mom():
  def cooking(self):
    print("mom's department")
class Child(Dada,Mom,Papa):
  pass

In [ ]:
krishna=Child()

In [ ]:
krishna.cooking()

mom's department

In [ ]:
class Dada:
  def home(self):
    print("Dada's home")
class Papa():
  def laptop(self):
    print("papa's laptop")
class Mom():
  # def __init__(self):
  #   print("My son will become a cricketer")

  def cooking(self):
    print("mom's department")
    
class Child(Mom):
  def __init__(self):
    super().__init__()
    print("I want to become AI")

In [ ]:
krishna=Child()

I want to become AI

In [ ]:
class Dada:
  def home(self):
    print("Dada's home")
class Papa():
  def __init__(self):
    print("Business man, Truck")
  def laptop(self):
    print("papa's laptop")
class Mom():
  def __init__(self):
    print("My son will become a cricketer")

  def cooking(self):
    print("mom's department")
    
class Child(Papa,Mom):
  def __init__(self):
    super().__init__()
    print("I want to become AI")

In [ ]:
krishna=Child()

Business man, Truck
I want to become AI

In [ ]:
class Dada:
  def home(self):
    print("Dada's home")
class Papa():
  def __init__(self):
    print("Business man, Truck")
  def laptop(self):
    print("papa's laptop")
class Mom(Papa):
  def __init__(self):
    super().__init__()
    print("My son will become a cricketer")

  def cooking(self):
    print("mom's department")
    
class Child(Mom,Papa):
  def __init__(self):
    super().__init__()
    print("I want to become AI")

In [ ]:
class Dada:
  def __init__(self):
    print("My grandchild will become DM")
  def home(self):
    print("Dada's home")
class Papa(Dada):
  def __init__(self):
    super().__init__()
    print("Business man, Truck")
  def laptop(self):
    print("papa's laptop")
class Mom(Papa):
  def __init__(self):
    super().__init__()
    print("My son will become a cricketer")

  def cooking(self):
    print("mom's department")
    
class Child(Mom,Papa):
  def __init__(self):
    print("I want to become AI")

In [ ]:
krishna=Child()

I want to become AI

In [ ]:
class Dada:
  def __init__(self):
    print("My grandchild will become DM")
  def home(self):
    print("Dada's home")
class Papa(Dada):
  def __init__(self):
    super().__init__()
    print("Business man, Truck")
  def laptop(self):
    print("papa's laptop")
class Mom(Papa):
  def __init__(self):
    super().__init__()
    print("My son will become a cricketer")

  def cooking(self):
    print("mom's department")
    
class Child(Mom,Papa):
  pass

In [ ]:
krishna=Child()

My grandchild will become DM
Business man, Truck
My son will become a cricketer

In [ ]:
from abc import ABC, abstractmethod

In [ ]:
# import abc as ABC
from abc import ABC,abstractmethod
class Atm(ABC):
  @abstractmethod
  def deposit(self):
    pass
    print("need databases connection")
  @abstractmethod
  def balance_enquiry(self):
    pass
    # please dont reflect balance without pin
  @abstractmethod
  def fund_transfer(self):
    pass
  @abstractmethod
  def exit(self):
    pass

In [ ]:
krishna=Atm()

TypeError: ignored

In [ ]:
class atm(Atm):
  def exit(self):
    print("thank you to banking with us")
  def deposit(self):
    print("Welcome to deposite section")

In [ ]:
krishna=atm()

TypeError: ignored

# polymorphism

> constructor overloading(python doesnot support)

> constructor overriding(python doesnot support)

> method overloading(python doesnot support )

> method overriding (python support)

In [ ]:
a=10

In [ ]:
a=20

In [ ]:
a

20

In [ ]:
class abc:
  def sum(krishna,a,b):
    print(a+b)
  def sum(krishna,a,b,c):
    print(a+b+c)

In [ ]:
self=abc()

In [ ]:
self.sum(2,3)

TypeError: ignored

In [ ]:
self.sum(2,3,4)

9

In [ ]:
class abc:
  def sum(krishna,a,b,c=0):
    print(a+b+c)

In [ ]:
a=abc()

In [ ]:
a.sum(2,3)

5

In [ ]:
sum([10,20,30,40,50])

150

In [ ]:
def sum1(*a):
  cont=0
  for i in a:
    cont=cont+i
  print(cont)

In [ ]:
sum1(1,2,3,4,5,6,7,8,9,906,5,4,33,3,3)

999

In [ ]:
def sum2(a):
  b=0
  a=[b+=i for i in a]
  return a

SyntaxError: ignored

In [ ]:
sum2([1,2,3,4,5,6,7,8,9,906,5,4,33,3,3])

999

In [ ]:
def sum2(a):
  print(sum(a))

In [ ]:
sum2([1,2,3,4,5,6,7,8,9,906.9999999,5,4,33,3,3])

999.9999999

In [ ]:
import random
class Atm:
  
  def __init__(self):
    
    self.pin="1234"
    self.balance=100000
    self.menu()
  def menu(self):                             
    print("""welcome to HDFC Bank ATM
    Here is your options:
    
    1. change pin
    2. set Balance
    3. Balance enquiry
    4. withdrawal
    5. Exit
    """)
    self.a=input()
    if self.a=="1":
      self.change_pin()
    elif self.a=="2":
      self.set_balance()
    elif self.a=="3":
      self.balance_enquiry()
    elif self.a=="4":
      self.withdrawal()
      
    elif self.a=="5":
      self.exit()
      #print("Thankyou for banking with us")

    else:
      print("Kindly chood a valid option")

  def change_pin(self):
      print("Welcome to change pin section")
      set_pin=input("please enter your pin:")
      set_pin=input("please enter your confirm pin:")
      self.pin=set_pin
      print("Your pin successfully updated")
      print("your new pin is:{}".format(self.pin))
      self.menu()

  def set_balance(self):
      print("Welcome to set balance section")
      set_bal=int(input("Kindly Set your balance:"))
      self.balance= self.balance+set_bal 
      print("Your available balance is:{}".format(self.balance))                                
      self.menu()


  def balance_enquiry(self):
      print("Your available balance is:{}".format(self.balance))                     
      self.menu()


  def withdrawal(self):
    print("Welcome to withdrawa section")   
    input_pin = (input("Please enter your 4-digit PIN > "))
    if input_pin == self.pin:
        print("Account auhtorized!\n\n")
                
        set_withdrawal=int(input("kinldy enter your withdrawal amount:"))
        print("please wait your transaction is being processed ")
        print("please collect your money")
        print("Avaiable balance is:{}".format(self.balance-set_withdrawal))
        print("""printing receipt..............
              **************
                  Transaction is now complete.                         
                  Transaction number: {} """.format(random.randint(99999999,999999999)))
        
    self.menu() 
    
  

  def exit(self):
      print("Thankyou for banking with us")

In [ ]:
krishna=Atm()

welcome to HDFC Bank ATM
    Here is your options:

    1. change pin
    2. set Balance
    3. Balance enquiry
    4. withdrawal
    5. Exit

4
Welcome to withdrawa section
Please enter your 4-digit PIN > 1234
Account auhtorized!


kinldy enter your withdrawal amount:5000
please wait your transaction is being processed
please collect your money
Avaiable balance is:95000
printing receipt..............
              **************
                  Transaction is now complete.
                  Transaction number: 979099162
welcome to HDFC Bank ATM
    Here is your options:

    1. change pin
    2. set Balance
    3. Balance enquiry
    4. withdrawal
    5. Exit

5
Thankyou for banking with us

In [ ]:
import random

In [ ]:
random.randint(99999999,999999999)

901399162

In [ ]:
Array
scope

standard modules
math
os
shuttle
random
time


file system
json
csv
excel 
database


RegEx

Try except finally 


file handling

SyntaxError: ignored

In [ ]:
(2/3)+(2/4)    # will create a datatype using OOP as project

1.1666666666666665

# Array

In [ ]:
import array

In [ ]:
array.array('i',[-1,2,3,4])

array('i', [-1, 2, 3, 4])

In [ ]:
array.array('I',[-1,2,3,4])

OverflowError: ignored

In [ ]:
array.array('I',[1,2,3,4,255])

array('I', [1, 2, 3, 4, 255])

In [ ]:
array.array('I',[1,2,3,4,3423423])

array('I', [1, 2, 3, 4, 3423423])

In [ ]:
import numpy as np

In [ ]:
print(type(np.array([1,2,3,4,5])))

<class 'numpy.ndarray'>

In [ ]:
np.array([1,2,3,4,'krishna'])

array(['1', '2', '3', '4', 'krishna'], dtype='<U21')

In [ ]:
np.array([1,2,3,4,'krishna'],dtype=np.int8)

ValueError: ignored

In [ ]:
np.array([1,2,3,324324000,'10'],dtype=np.int8)

array([  1,   2,   3, -96,  10], dtype=int8)

In [ ]:
print(np.array([1,2,3,4,'10'],dtype=np.str_))

['1' '2' '3' '4' '10']

In [ ]:
a=[i for i in range(100)]

In [ ]:
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
b=np.array([i for i in range(100)])

In [ ]:
print(b)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]

In [ ]:
import sys

In [ ]:
sys.getsizeof(a)

920

In [ ]:
sys.getsizeof(b)

904

# scope

local scope 

global scope


local variable


global variable

In [ ]:
def sum():
  a=10
  b=20
  print(a+b)

In [ ]:
sum()

30

In [ ]:
print(a+b)

30

In [ ]:
def sum():
  global a,b
  a=10
  b=20
  print(a+b)

In [ ]:
c=20
d=40

In [ ]:
def sum2():
  print(c+d)

In [ ]:
sum2()

60

# file handling

In [ ]:
f=open("/content/drive/MyDrive/Colab Notebooks/abc.txt","x")

FileExistsError: ignored

In [ ]:
f.close()

In [ ]:
f1=open("/content/drive/MyDrive/Colab Notebooks/abc.txt","w")

In [ ]:
f1.close()

In [ ]:
f2=open("/content/drive/MyDrive/Colab Notebooks/xyz.txt","w")

In [ ]:
f2.write("Hi this is my first text file.")

30

In [ ]:
f2.close()

In [ ]:
f3=open("/content/drive/MyDrive/Colab Notebooks/xyz.xlxs","w")

In [ ]:
f3.write("this is new text")

16

In [ ]:
f3.close()

In [ ]:
import math as m

In [ ]:
m.log(10)

2.302585092994046

In [ ]:
m.cos(90)

-0.4480736161291701

In [ ]:
m.asin(90rad)

SyntaxError: ignored

In [ ]:
help(m)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
m.gcd(2,3)

1

In [ ]:
m.floor(2.333)

2

In [ ]:
m.ceil(2.33)

3

In [ ]:
20/6

3.3333333333333335

In [ ]:
m.isfinite(20/6)

True

In [ ]:
m.isfinite(m.sqrt(2))

True

In [ ]:
import time

In [ ]:
time.gmtime()

time.struct_time(tm_year=2022, tm_mon=10, tm_mday=20, tm_hour=5, tm_min=33, tm_sec=53, tm_wday=3, tm_yday=293, tm_isdst=0)

In [ ]:
help(time.gmtime)

Help on built-in function gmtime in module time:

gmtime(...)
    gmtime([seconds]) -> (tm_year, tm_mon, tm_mday, tm_hour, tm_min,
                           tm_sec, tm_wday, tm_yday, tm_isdst)

    Convert seconds since the Epoch to a time tuple expressing UTC (a.k.a.
    GMT).  When 'seconds' is not passed in, convert the current time instead.

    If the platform supports the tm_gmtoff and tm_zone, they are available as
    attributes only.

In [ ]:
import calendar

In [ ]:
calendar.datetime.now()

AttributeError: ignored

# try except finally

In [ ]:
a="krishna"

print(a/2)

print("Hello world")

TypeError: ignored

In [ ]:
try:
  a="krishna"
  print(a/2)
except Exception:
  print("A string is not divisible by number")
  
print("Hello world")

A string is not divisible by number
Hello world

In [ ]:
try:
  a=10
  print(a/2)
except Exception:
  print("A string is not divisible by number")

5.0

In [ ]:
try:
  a=10
  print(a/2)

except Exception:
  print("A string is not divisible by number")

finally:
  print("hello world")

5.0
hello world

In [ ]:
try:
  a="krishna"
  print(a/2)
except Exception:
  print("A string is not divisible by number")

finally:
  print("hello world")

A string is not divisible by number
hello world

In [ ]:
try:
  a=10
  print(a/2)

except TypeError:
  print("A string is not divisible by number")

except Exception:
  print("This is a invalid code")

finally:
  print("hello world")

5.0
hello world

In [ ]:
try:
  # a="krishna"
  a=int("10.0")
  print(a/2)

except TypeError:
  print("A string is not divisible by number")

except ValueError:
  print("string is not directly convertible to int")

except Exception:
  print("This is a invalid code")

finally:
  print("hello world")

string is not directly convertible to int
hello world

In [ ]:
a=int("10.0")

ValueError: ignored

In [ ]:
try:
  # a="krishna"
  a=int("10.0")
  print(a/2)

except Exception as e:
  print("This is a invalid code", e)

finally:
  print("hello world")

This is a invalid code invalid literal for int() with base 10: '10.0'
hello world

In [ ]:
try:
  # a="krishna"
  a=int("10.0")
  print(a/2)

except Exception as e:
  print("This is a invalid code", e)
else:
  print("There is not error in this code")

This is a invalid code invalid literal for int() with base 10: '10.0'

In [ ]:
try:
  # a="krishna"
  a=int(10.0)
  print(a/2)

except Exception as e:
  print("This is a invalid code", e)
else:
  print("There is not error in this code")

5.0
There is not error in this code

In [ ]:
if 1:
  a=2/3
  raise ValueError("2 is not divisible by 3")

ValueError: ignored

In [ ]:
def fun():
  for i in range(10000000000000000000000000000000000000000000000):
    yield i

In [ ]:
x=fun()
type(x)

generator

In [ ]:
next(x)

0

In [ ]:
next(x)

1

In [ ]:
a="Fo485od is goOd"

In [ ]:
a.lower()

'fo485od is good'

In [ ]:
def remove(doc):
  b=""
  for i in doc:
    if i in '0123456789':
      continue
    b+=i.lower()
  return b

In [ ]:
remove(a)

'food is good'

In [ ]:
import re
a=a.lower()

In [ ]:
re.sub("[0-9A-Z]","",a)

'food is good'

In [ ]:
b="krishna43324,453 ,./,.;i*&^*&s a Trainer"

In [ ]:
b=b.lower()

In [ ]:
b

'krishna43324,453 ,./,.;i*&^*&s a trainer'

In [ ]:
re.sub("[^a-z ]","",b)

'krishna is a trainer'

In [ ]:
import string

In [ ]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
re.sub(f"[{string.punctuation}]","",b)

'krishna43324453 is a trainer'

In [ ]:
c=re.sub("[{}]".format(string.punctuation),"",b)

In [ ]:
re.sub("[1-9]","",c)

'krishna is a trainer'

In [ ]:
a=["krishna singh","Vishal singh"]

In [ ]:
b=""
for i in a:
  b+=i+" "
b

'krishna singh Vishal singh '

In [ ]:
c=b.split(" singh ")
c

['krishna', 'Vishal', '']

In [ ]:
d=" ".join(c)
d

'krishna Vishal '

In [ ]:
e=d.strip()
e

'krishna Vishal'

In [ ]:
e.split(" ")

['krishna', 'Vishal']

In [ ]:
((" ".join(c)).strip()).split(" ")

['krishna', 'Vishal']